<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web3 Wolves | Create Account</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg px-3">
      <div class="navbar container">
        <div
          class="navbar-brand user-btns d-flex align-items-center justify-content-end gap-3"
        >
          <a class="" href="/">
            <img src="/static/imgs/logoicon.png" alt="" />
          </a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item text-end">
              <a href="/wolf_vision" class="nav-link">Wolf Vision</a>
            </li>
            <li class="nav-item text-end">
              <a href="/market_watch" class="nav-link">Wolf Market Watch</a>
            </li>
            {% if session['user_id'] == posts_info[0].user_id %}
            <li
              class="nav-item d-flex gap-3 mt-1 mt-lg-0 justify-content-end ms-3"
            >
              <a
                href="/login"
                class="nav-link rounded-3 bg-danger text-light px-3"
              >
                Logout
              </a>
            </li>

            {% else %}
            <li
              class="nav-item d-flex gap-3 mt-1 mt-lg-0 justify-content-end ms-3"
            >
              <a
                href="/create_account"
                class="nav-link rounded-3 bg-warning px-3"
              >
                Sign Up
              </a>
              <a
                href="/login"
                class="nav-link bg-success rounded-3 text-light px-3"
              >
                Login
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Start Page Body -->
    <div class="marketwatch-section">
      <div class="container">
        <h1 class="text-center">Wolf Discussion</h1>
        <div class="row my-3">
          <div class="col d-flex justify-content-center gap-5">
            <img
              onCLick="fetchMarketData('bitcoin');fetchCoinData('bitcoin')"
              class="coinSelectors"
              src="/static/imgs/bitcoinIcon.png"
              alt=""
            />
            <img
              onCLick="fetchMarketData('cardano');fetchCoinData('cardano')"
              class="coinSelectors"
              src="/static/imgs/adaIcon.png"
              alt=""
            />
            <img
              onCLick="fetchMarketData('ethereum');fetchCoinData('ethereum')"
              class="coinSelectors"
              src="/static/imgs/ethIcon.png"
              alt=""
            />
          </div>
        </div>
        <div class="row w-75 mx-auto d-flex flex-column">
          <div class="col d-flex justify-content-center">
            <div id="coinData" class="my-3"></div>
          </div>
          <div id="chart_div" class="col">
            <canvas id="myChart" width="400px" height="500px"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2 class="text-center mb-5">WOLF DISCUSSION THREAD</h2>
      <div class="row d-flex flex-column gap-2">
        <div class="col">
          <form
            action="/post/submit"
            method="post"
            class="d-flex discussionForm flex justify-content-center align-items-center gap-2 mx-auto"
          >
            <textarea
              name="input-post"
              cols="30"
              rows="3"
              class="w-100"
            ></textarea>
            <input
              type="submit"
              value="Add to the discussion"
              class="mt-auto"
            />
          </form>
        </div>
        <div class="col">
          <div class="post-container mx-auto rounded-3">
            {% for post_info in posts_info %}
            <div class="post-box mx-auto d-flex gap-5 p-3 bg-light rounded-3">
              <div
                class="d-flex flex-column align-content-start justify-content-center user-post-name-col"
              >
                <h5 class="text-nowrap">{{post_info.username}}</h5>
                {% if session['user_id'] == post_info.user_id %}
                <a
                  href="/post/delete/{{post_info.post_id}}"
                  class="btn btn-danger btn-sm"
                >
                  Delete
                </a>
                {% endif %}
              </div>
              <p>{{post_info.post}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h4>&copy; Christopher Hogan Jr</h4>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/coin_data.js"></script>
  </body>
</html>
