.landing-hero-container {
  min-height: 600px;
}

.styledHero--row--col-2 {
  background-image: url("/static/imgs/ethereum-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing-nft-section {
  min-height: 500px;
}

.create_account_section {
  min-height: 800px;
}

.user-post-name-col {
  width: 100px;
}

.post-box {
  width: 100%;
}

.post-box:not(:last-child) {
  margin-bottom: 15px;
}

.post-container {
  padding: 15px;
  height: 700px;
  overflow: scroll;
  border: solid 5px black;
}
